@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    /* Color Palette */
    --color-primary: 215 100% 19%; /* #03045E */
    --color-primary-dark: 217 97% 27%; /* #023E8A */
    --color-secondary: 207 100% 36%; /* #0077B6 */
    --color-accent: 201 100% 39%; /* #0096C7 */
    --color-accent-light: 190 100% 42%; /* #00B4D8 */
    --color-info: 190 64% 53%; /* #48CAE4 */
    --color-info-light: 190 76% 75%; /* #90E0EF */
    --color-subtle: 190 71% 82%; /* #ADE8F4 */
    --color-subtle-light: 190 69% 89%; /* #CAF0F8 */
    --color-white: 0 0% 100%; /* #FFFFFF */

    /* System Colors */
    --background: var(--color-white);
    --foreground: var(--color-primary);

    --card: var(--color-white);
    --card-foreground: var(--color-primary);

    --popover: var(--color-white);
    --popover-foreground: var(--color-primary);

    --primary: var(--color-primary);
    --primary-foreground: var(--color-white);

    --secondary: var(--color-secondary);
    --secondary-foreground: var(--color-white);

    --muted: var(--color-subtle-light);
    --muted-foreground: var(--color-primary-dark);

    --accent: var(--color-accent);
    --accent-foreground: var(--color-white);

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: var(--color-white);

    --border: var(--color-subtle);
    --input: var(--color-subtle);
    --ring: var(--color-primary);

    --radius: 0.5rem;
  }

  .dark {
    --background: var(--color-primary);
    --foreground: var(--color-subtle-light);

    --card: var(--color-primary-dark);
    --card-foreground: var(--color-subtle-light);

    --popover: var(--color-primary-dark);
    --popover-foreground: var(--color-subtle-light);

    --primary: var(--color-subtle-light);
    --primary-foreground: var(--color-primary);

    --secondary: var(--color-accent-light);
    --secondary-foreground: var(--color-primary);

    --muted: var(--color-primary-dark);
    --muted-foreground: var(--color-info-light);

    --accent: var(--color-accent-light);
    --accent-foreground: var(--color-primary);

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: var(--color-subtle-light);

    --border: var(--color-secondary);
    --input: var(--color-secondary);
    --ring: var(--color-subtle-light);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
